.sectionAppdownload{
    text-align: center;
}
.backbox {
    position: absolute;
    width: 90vw;
    height: 350px;
    left: 60px;
    top: 2112px;
    background: linear-gradient(90deg, #FF1515 11.81%, #FD5D15 121.2%);
    border-radius: 26px;
}

.downloadContent {
    margin-left: 90px;
    text-align: left;
}

.downloadContent h3 {
    position: relative;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 59px;
    color: #FFFFFF;
}

.downloadContent p {
    margin-top: 50px;
    position: relative;
    width: 550px;
    height: 120px;
    /* left: 260px; */
    top: -40px;
     font-family: Montserrat; 
    font-style: normal;
    font-weight: lighter;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
}

.downloadPlaystore {
    position: relative;
    width: 134px;
    height: 57px;
    left: 10px;
    top: -50px;
}

.downloadAppstore {
    position: relative;
    /* width: 164px; */
    /* height: 55px; */
    height: 39px;
    width: 110px;
    top: -59px;
}

.Appmobile {
    position: relative;
    top: -420px;
    left: 360px;
    width: 253.43px;
    height: 484px;
}