.background {
    position: absolute;
    height: 120vh;
    width: 100vw;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    z-index: -2;
    object-fit:cover;
}


/* right section */

.siderect {
    border-radius: 158px 0px 0px 158px;
    background-color: #FD5D15;
    position: absolute;
    width: 520px;
    height: 120.3vh;
    right: 0px;
    top: -2px;
    z-index: -1;
}

.rect2 {
    position: absolute;
    width: 257px;
    height: 257px;
    left: 40px;
    top: 84px;
    background: #FF151580;
    border-radius: 26px;
}

.rect3 {
    position: absolute;
    width: 190px;
    height: 200px;
    /* left: 634px; */
    right: 0px;
    top: 420px;
    background: rgba(255, 21, 21, 0.5);
    border-radius: 26px 0px 0px 26px;
}

.rect4 {
    position: absolute;
    width: 180px;
    height: 200px;
    right: 0px;
    top: 140px;
    background: #FA7A41;
    border-radius: 26px 0px 0px 26px;
}

.rect5 {
    position: absolute;
    width: 170px;
    height: 170px;
    right: 300px;
    top: 467px;
    background: rgba(251, 133, 80, 0.7);
    border-radius: 26px;
}

.mobileimg {
    position: absolute;
    width: 369.59px;
    height: 463.52px;
    right: 50px;
    top: 128px;
    filter: drop-shadow(31.8878px 50.4891px 37.2025px rgba(0, 0, 0, 0.25));
}

.badgeAppstore {
    position: absolute;
    /* width: 164px; */
    /* height: 55px; */
    height: 39px;
    width: 124px;
    right: 100px;
    top: 568px;
}
.badgeAppstore:hover{
    height: 42px;
    width: 129px;
    transition: all ease 500ms;
  }
.badgePlaystore {
    position: absolute;
    width: 134px;
    height: 57px;
    /* width: 214px; */
    /* height: 83px; */
    right: 240px;
    top: 559px;
}


/* section left */

.mainhead,
.para1,
.tag {
    position: absolute;
    left: 70px;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    text-align: left;
}

.mainhead {
    width: 582px;
    height: 244px;
    top: 150px;
    font-family: Montserrat-bold;
    font-size: 70px;
     line-height: 80px; 

}

.para1 {
    width: 402px;
    height: 161px;
    top: 370px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 23px;
}

.tag {
    width: 582px;
    height: 47px;
    top: 480px;
    font-family: DM Sans;
    font-size: 24px;
    line-height: 47px;
    margin-top: 40px;
    /* identical to box height */
}