li,a{
font-family: DM Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 26px;
color: #FCFCFE;
text-decoration: none;
}
.navbar{
    display:flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 17px 0px;
}
.logo {
    cursor: pointer;
    height: 30.36150360107422px;
    width: 100px;
    margin-left: -149px; 
    margin-top: 10px;
}
.nav__links{
  margin-top: 20px;
    margin-left: -420px;
    list-style:none;
    align-items: left;
}
.nav__links li{
    display:inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color:#FD5D15; 
}
button{
    /* position: absolute; */
    height: 36px;
    width: 147px;
    /* left: 82vw; */
    /* top: 33px; */
    border-radius: 7px;
    background: #ffffff;
    z-index: 1;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    color: #FD5D15;
    border: none;
    cursor: pointer;
    /* padding: 9px 24px; */
    transition: all 0.3s ease 0s;
    margin-right: -170px;
}
button:hover{
background: #bababb;
}
.button:active {
    border: solid;
}
/*
.nav-item {
    font-family: DM Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #FCFCFE;
}

.product {
    position: absolute;
    height: 26px;
    width: 84px;
    left: 226px;
    top: 43px;
    border-radius: nullpx;
    color: #FCFCFE;
    text-decoration: none;
}

.support {
    position: absolute;
    height: 26px;
    width: 75px;
    left: 310px;
    top: 43px;
    border-radius: nullpx;
    color: #FCFCFE;
    text-decoration: none;
}

.contact {
    position: absolute;
    height: 26px;
    width: 104px;
    left: 390px;
    top: 43px;
    border-radius: nullpx;
    color: #FCFCFE;
    text-decoration: none;
}

.download {
    position: absolute;
    height: 32px;
    width: 140px;
    left: 82vw;
    top: 33px;
    border-radius: 9px;
    background: #FFFFFF;
    z-index: 1;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    color: #FD5D15;
    border: none;
}

.download:active {
    border: solid;
} */