.upfoot {
    position: absolute;
    top: 3300px;
    width: 100vw;
    height: 360px;
    background: #1D1D1D;
}

.downfoot {
    position: absolute;
    top: 3660px;
    width: 100vw;
    height: 74px;
    background: #FD5D15;
}

.downapphead,
.contacthead,
.citiesservehead {
    /* position: absolute; */
    /* width: 223px; */
    /* height: 36px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 36px;
    /* identical to box height */
    text-align: center;
}

.footmenuheading {
    position: relative;
    top: 70px;
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;
    text-align: left;
}

.footlogo p,
.contacthead a,
ul.cities {
    /* width: 550px; */
    /* height: 115px; */
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    /* line-height: 21px; */
    color: #FFFFFF;
}

.contacthead {
    text-align: left;
}

.footerplaystore img {
    width: 100px;
    height: 95px;
    /* margin-top: 20px; */
    margin-right: 14px;
    /* object-fit: fill; */
}

ul.cities {
    list-style-type: none;
    text-align: left;
    position: relative;
    left: -34px;
}