.main {
    background: #F5F5F5;
    position: absolute;
    width: 100vw;
    height: 470px;
    left: 0px;
    top: 1490px;
    text-align: center;
}

.Producthead {
    position: relative;
    /* width: 326px; */
    /* height: 59px; */
    /* left: 797px; */
    top: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight:600;
    font-size: 32px;
    line-height: 59px;
}

.slider {
    position: relative;
    top: 40px;
    
    /* display: flex; */
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    /* overflow-x: auto; */
    
 

}


/* .slider::-webkit-scrollbar {
    display: none;
} */

.oneslider,
.twoslider,
.threeslider,
.fourslider {
    margin: 40px;
    position: relative;
    width: 284px;
    height: 140px;
    /* left: 105px; */
    /* top: 2521px; */
    background: #FFFFFF;
    border-radius: 24px;
    padding-left:10% ;
}

.slider h3 {
    text-align: left;
    margin: 20px;
    font-family: Montserrat-m;
    font-style: normal;
    font-weight:100;
    font-size: 17px;
    line-height: 29px;
    color: #000000;
}

.slider p {
    text-align: left;
    margin-left: 20px;
    width: 50%;
    font-family: Montserrat-m;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    /* line-height: 22px; */
    color: #000000;
}

.oneslider img {
    position: relative;
    top: -110px;
    left: 170px;
    width: 90px;
    height: 140px;
}

.twoslider img,
.fourslider img {
    position: relative;
    top: -180px;
    left: 100px;
    width: 80px;
    height: 260px;
}

.threeslider img {
    position: relative;
    top: -140px;
    left: 60px;
    width: 50px;
    height: 190px;
}